body{
    display: grid;
    grid-template-rows: 255 65% 10%;
    width: 100vw;
    height: 100vh;
    margin:0;
    background-color: blue;
    color: white;
    font-family: sans-serif ;
}

header{
    display: grid;
    border:1px solid white;
    justify-items: center;

}

.cash_flow{
    display: flex;
    border: 1px solid yellow;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.credit_case .debit_case{
    display: flex;
}



.balance{
   display: grid;
   margin: auto;
   justify-content: center;
}

.transactions{
    display: grid;
    margin: auto;
    justify-content: center;
    
}

.transaction_header{
    margin: auto;
}

.record_transaction{
    display: grid;
    margin: auto;
    justify-content: center;
}

input{
    margin-bottom:1rem;
    padding: 1.5rem;
    color: red;
    box-shadow: 0.1rem 0.1rem 0.5rem  black;
    font-size: larger;
}


button{
    background-color: yellow;
    color: blue;
    padding: 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem  black;

}

footer{

    display: grid;
    margin: auto;
    justify-content: center;
}
